@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700;800;900&display=swap");

:root {
  --missed-shots-color: #85ffb3;
  --hit-shots-color: #ff8585;
  --boats-color: #444444;
  --bg-color: #dddddd;
}

body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  font-family: "Big Shoulders Stencil Text";
  font-size: 6rem;
  margin-top: 10px;
  font-weight: 900;
}

.boards {
  display: flex;
  gap: 80px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 400px;
  height: 400px;
  border: black 1px solid;
}

.board > div {
  border: black 1px solid;
}

.computer-board .water:hover {
  background-color: var(--bg-color);
  cursor: pointer;
}

.boat {
  background-color: var(--boats-color);
}

.missed {
  background-color: var(--missed-shots-color);
}

.hit {
  background-color: var(--hit-shots-color);
}

.winner-screen {
  position: absolute;
  z-index: 1;
  top: calc(50% - 250px / 2);
  width: 500px;
  height: 250px;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0px 0px 5px 100vh rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.winner-msg {
  font-size: 3rem;
  font-family: sans-serif;
}

.restart-btn {
  background-color: black;
  color: var(--bg-color);
  width: 250px;
  box-sizing: border-box;
  font-size: 3rem;
  border-radius: inherit;
  padding: 5px;
  cursor: pointer;
}

.starting-screen {
  position: absolute;
  z-index: 1;
  top: calc(50% - 90vh / 2);
  width: 450px;
  height: 90vh;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0px 0px 5px 100vh rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  box-sizing: border-box;
}

.welcome-msg {
  font-size: 1.5rem;
  margin-bottom: 32px;
}

.setup-msg {
  font-size: 1.3rem;
  margin-bottom: 32px;
}

#setup-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  font-size: 1.1rem;
  gap: 8px;
}

#setup-form > div {
  display: flex;
  justify-content: space-between;
}

input[type="submit"] {
  align-self: center;
  position: absolute;
  bottom: 10%;
  background-color: black;
  color: var(--bg-color);
  width: 70%;
  font-size: 1.3rem;
  border-radius: 8px;
  cursor: pointer;
}
